<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>削除する番号を押してください。</h2>
  <form action="/deleteline" name="insertform" method="post">
  <br>
  現在登録されている路線名↓
  <table>
      <% for( let row of data ) { %>
        <tr>
            <td><input type="submit" value="<%=row.id %>" id="idbutton" name="deleteline"></td>
            <td><%= row.name %></td>
        </tr>
      <% } %>
  </table>
  </form>
  <br>
  <form action="/default">
    <a href="/line">前のページに戻る</a>&emsp;
    <a href="/default">トップページに戻る</a>
  </form>
</body>
</html>