<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/public/style.css">
  <title>Show message</title>
</head>
<body>
  <h2>追加したいゲームセンター名を入力してください。</h2>
  <form action="/insertgamecenter" name="insertform" method="post">
    ゲームセンター名：<input type="text" id="newgamecenter" name="newgamecenter">
    <input type="submit" value="登録" id="button" disabled>
    <script>
      function inputchange(event){
        let button = document.getElementById('button');
        button.disabled = false;
      }

      let text = document.getElementById('newgamecenter');
      text.addEventListener('change', inputchange);
    </script>
  </form>
  <br>
  <p>現在登録されているゲームセンター名↓</p>
  <table border="1">
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.id %></td>
            <td><%= row.name %></td>
        </tr>
      <% } %>
  </table>
  <br>
  <form>
    <p>間違えて追加してしまった場合は→<a href="/nowgamecenter">こちら</a></p>
    <a href="/public/insert.html">前のページに戻る</a>&emsp;
    <a href="/default">トップページに戻る</a>
  </form>
</body>
</html>